
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(240,240,240);
}

.view {
  max-width: 960px;
  min-height: 600px;
  margin: 15px auto;

  background: rgb(250,250,250);
  padding: 20px;

  header {
    h1 {

    }

    p {

    }
  }
}
